<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>footer</title>
	</head>
	<body>
		
	    <footer class="footer">
	    	<div class="footer-top">
				<ul class="footer-top-ul">
					<li>
						<span class="footer-top-ul-l1" style="margin-left: 0!important;"></span>
						<span class="footer-top-ul-r">独立三方</span>
					</li>
					<li>
						<span class="footer-top-ul-l2"></span>
						<span class="footer-top-ul-r">国家标准</span>
					</li>
					<li>
						<span class="footer-top-ul-l3"></span>
						<span class="footer-top-ul-r">专业技师</span>
					</li>
					<li>
						<span class="footer-top-ul-l4"></span>
						<span class="footer-top-ul-r">上门检测</span>
					</li>
				</ul>
			</div>
			<div class="footer-bottom">
				<div class="footer-bottom-t">
					<ul>
						<li class="footer-bottom-t-li">
							<a href="#">服务保障</a>
							<i></i>
							<a href="#">服务介绍</a>
							<a href="#">服务流程</a>
						</li>
						<li class="footer-bottom-t-li">
							<a href="#">检测套餐</a>
							<i></i>
							<a>预约检测</a>
						</li>
						<li class="footer-bottom-t-li">
							<a href="#">关于一诺</a>
							<i></i>
							<a href="#">关于我们</a>
							<a href="#">加入我们</a>
							<a href="#">联系我们</a>
							
						</li>
						<li class="footer-bottom-t-li1" style="width: 350px;">
							<a href="#">联系我们</a>
							<i></i>
							<div class="end">
								<div class="phone">
									<span></span>
									<em>电话</em>
									<div>
										<em>400 777 7777</em>
										<span>时间：9：30-18：00</span>
									</div>
								</div>
								<div class="email">
									<span></span>
									<em>邮箱</em>
									<a href="#" style="margin: -25px 0 0 110px;font-size: 18px;color: #ffffff;">inno@neusoft.com</a>
								</div>
							</div>
						</li>
						<li class="footer-bottom-t-li2">
							<a href="#">关注我们</a>
							<i></i>
							<img src="../static/home/img/code.jpg">
						</li>
					</ul>
				</div>
				<div class="footer-bottom-b">
					<span>版权所有 Copyright ©2016 neusoft 保留所有版权</span>
					<span style="margin-left: 802px;">分享：</span>
				</div>
			</div>
	    </footer>
		
	</body>
</html>
